@page
@model Website_assignment.Views.Home.AboutModel
@{
}
@{
    ViewData["ELVIS WEBSITE"] = "About Me";
    Layout = "_Layout";
}

<div class="container">
    <h2>About Me</h2>
    <p>Hello! My name is ELVIS KINOTI, and I am a fifth year student at JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGY.</p>
    <p>I have a passion for remote sensing and I`m trying to make significant developments in the Satellite world.:</p>
    
    <p>Feel free to contact me via email at elviskt184@gmail.com.</p>
</div>
