@page
@model Website_assignment.Views.Home.IndexModel
@{
}
@{
    ViewData["ELVIS WEBSITE"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Elvis Website!</h1>
        <p class="lead">Here you can learn about my exciting project ideas.</p>
        <hr class="my-4">
        <p>I am currently working on several innovative projects that aim to revolutionize the use of remote sensing in Agriculture.</p>
        <ul>
            <li><strong>Project 1:</strong> A system that self classifies images directly from satellite imagery.</li>
            <li><strong>Project 2:</strong> A way to estimate yield loss of agriculutural products during harvesting.</li>
        </ul>
        <p>This is just the beginning!</p>
    </div>
</div>
